<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>

  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/google_analytics.js' %>
    <%#= render partial: 'spree/shared/header' %>
    <% @taxonomies = Spree::Taxonomy.accessible_by(current_ability, :read).order('name').includes(:root => :children) %>
    <%= render partial: 'spree/shared/main_nav_bar' if store_menu? %>


    <div class="container">
      <div class="row" data-hook>
        <%= breadcrumbs(@taxon) %>

        <%#= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>
<!-- 
        <div id="content" class="<%= !content_for?(:sidebar) ? "col-sm-12" : "col-sm-8 col-md-9" %>", style="padding-top:100px" data-hook> -->

        <div id="content" class="container", style="padding-top:90px">
          <%= flash_messages %>
          <%= yield %>
        </div>

        <%= yield :templates %>
      </div>
    </div>
    <%= render partial: 'spree/shared/footer' %>
  </body>
</html>