<%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>
<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-7">
    <div class="row userInfo">
      <div class="col-xs-12 col-sm-12">
        <div class="cartContent w100">
          <div class="CartProduct">
            <div data-hook="cart_items" class="table-responsive">
              <table class="table" id="cart-detail" data-hook>
                <thead>
                  <tr class="CartProduct cartTableHeader">
                    <th class="cart-item-description-header" colspan="2"><%= Spree.t(:item) %></th>
                    <th class="cart-item-price-header"><%= Spree.t(:price) %></th>
                    <th class="cart-item-quantity-header"><%= Spree.t(:quantity) %></th>
                    <th class="cart-item-total-header"><%= Spree.t(:total) %></th>
                    <th class="cart-item-delete-header"></th>
                  </tr>
                </thead>
                <tbody id="line_items" data-hook>
                  <%= render partial: 'spree/orders/line_item', collection: order_form.object.line_items, locals: { order_form: order_form } %>
                </tbody>
                <% if @order.adjustments.nonzero.exists? || @order.line_item_adjustments.nonzero.exists? || @order.shipment_adjustments.nonzero.exists? || @order.shipments.any? %>
                  <%#= render "spree/orders/adjustments" %>
                  <% end %>
                  <tr class="CartProduct cartTableHeader">
                    <td colspan="4" align='right'>TOTAL&nbsp;</td>
                    <td align='right' class="price"><%= order_form.object.display_item_total %></td>
                    <td></td>
                  </tr>
              </table>
              <div class="box-footer">
                <div class="pull-left">
                  <%= link_to products_path, :class => 'btn btn-success' do %>
                    <i class="fa fa-arrow-left">&nbsp; Continue shopping </i>
                  <% end %>
                </div>
                <div class="pull-right">
                  <%= button_tag class: 'btn btn-success', id: 'update-button' do %>
                    <i class="fa fa-undo">&nbsp;<%= Spree.t(:update) %></i>
                  <% end %>
                </div>
              </div>
            </div>
          <!--/ cartFooter -->
        </div>
      </div>
      <!--cartContent-->
    </div>
  </div>
  <!--/row end-->
  </div>
  <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
    <div class="contentBox">
      <div class="w100 costDetails">
        <div class="table-block" id="order-detail-content">
          <%= link_to '/checkout/address', :class => 'btn btn-success', :style => 'margin-bottom:20px' do %>
            Proceed to checkout &nbsp;<i class="fa fa-arrow-right"></i>
          <% end %>
          <div class="w100 cartMiniTable">
            <table id="cart-summary" class="std table">
              <tbody>
                <tr>
                    <td>Total number of products</td>
                    <td class=" site-color" id="total-quantity">
                      <h3><strong><%= order_form.object.quantity %></strong></h3>
                    </td>
                </tr>
<!--                 <tr style="">
                    <td>Shipping</td>
                    <td class="price"><span class="success">Free shipping!</span></td>
                </tr> -->
<!--                 <tr class="cart-total-price ">
                    <td>Total (tax excl.)</td>
                    <td class="price"><%= order_form.object.display_total %></td>
                </tr> -->
                <!-- <tr>
                    <td>Total tax</td>
                    <td class="price" id="total-tax">$0.00</td>
                  <%#= render "spree/orders/adjustments" %>
                </tr> -->
                <tr>
                  <td> Total Products Amount</td>
                  <td class=" site-color" id="total-price"><%= order_form.object.display_item_total %></td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="input-append couponForm">
                      <input class="col-lg-8" id="appendedInputButton" type="text" placeholder="Coupon code">
                        <button class="col-lg-4 btn btn-success" type="button">Apply!</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- End popular -->
  </div>
  <!--/rightSidebar-->
</div>
<!--/row-->
