<div class="container main-container headerOffset">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7 col-xs-6 col-xxs-12 text-center-xs">
      <h1 class="section-title-inner">
        <span><i class="glyphicon glyphicon-shopping-cart"></i> Shopping cart </span>
      </h1>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar col-xs-6 col-xxs-12 text-center-xs">
      <%= link_to products_path, :class => 'section-title-inner' do %>
        <h3><i class="fa fa-chevron-left">&nbsp;Back to Shopping</i></h3> 
      <% end %>            
    </div>
  </div>
  <!--/.row-->
  <% if @order.line_items.empty? %>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-7">
        <div class="row userInfo">
          <div class="col-xs-12 col-sm-12">
            <div class="alert alert-info"><%= Spree.t(:your_cart_is_empty) %></div>
              <div class="cartFooter w100">
                <div class="box-footer">
                  <div class="pull-left">
                    <%= link_to products_path, :class => 'btn btn-default' do %>
                      <i class="fa fa-arrow-left">&nbsp; Continue shopping </i>
                    <% end %>
                  </div>
                  <div class="pull-right">
                    <%= link_to update_cart_path, :class => 'btn btn-default' do %>
                      <i class="fa fa-undo">&nbsp; Update cart </i>
                    <% end %>
                  </div>
                </div>
              </div>
            <!--/ cartFooter -->
              </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <%= form_for @order, url: update_cart_path, html: { id: 'update-cart' } do |order_form| %>
      <%= render partial: 'form', locals: { order_form: order_form } %>
    <% end %>
  <% end %>
  <div style="clear:both"></div>
</div>
<!-- /.main-container -->
<div class="gap"></div>
