<div id="payment" data-hook>
    <h2 class="block-title-2"> Payment method </h2>
      <p>Please select the preferred shipping method to use on this order.</p>
    <hr>
  <div class="panel-body" data-hook="checkout_payment_step">
    <% if @payment_sources.present? %>
      <div class="card_options">
        <%= radio_button_tag 'use_existing_card', 'yes', true %>
        <label for="use_existing_card_yes">
          Use existing cc
        </label>
        <br/>
        <%= radio_button_tag 'use_existing_card', 'no' %>
        <label for="use_existing_card_no">
          Use new cc or payment method
        </label>
      </div>

      <div id="existing_cards">
        <p class="form-group" data-hook="existing_cards">
          <table class="existing-credit-card-list">
            <tbody>
              <% @payment_sources.each do |card| %>
                <tr id="<%= dom_id(card,'spree')%>" class="<%= cycle('even', 'odd') %>">
                  <td><%= card.name %></td>
                  <td><%= card.display_number %></td>
                  <td><%= card.month %> / <%= card.year %></td>
                  <td>
                    <%= radio_button_tag "order[existing_card]", card.id, (card == @payment_sources.first), { class: "existing-cc-radio" }  %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </p>
      </div>
    <% end %>

    <div id="collapseOne" class="panel-collapse collapse in">
      <% @order.available_payment_methods.each do |method| %>
        <li class="list-group-item">
          <label>
            <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.available_payment_methods.first %>
            <%= Spree.t(method.name, :scope => :payment_methods, :default => method.name) %>
          </label>
        </li>
      <% end %>
    </div>
    <hr>  
    <ul class="nav" id="payment-methods" data-hook>
      <% @order.available_payment_methods.each do |method| %>
        <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == @order.available_payment_methods.last %>" data-hook>
          <fieldset>
            <%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method } %>
          </fieldset>
        </li>
      <% end %>
    </ul>

    <!-- <p class='field' data-hook='coupon_code'>
      <%#= form.label :coupon_code %><br />
      <%#= form.text_field :coupon_code, :class => 'form-control' %>
    </p> -->
  </div>
</div>

<div class="cartFooter w100">
  <div class="box-footer">
    <div class="pull-left">
      <%= link_to checkout_state_path(:delivery), :class => 'btn btn-default' do%>
        <i class="fa fa-arrow-left"></i> &nbsp; Back to delivery </a>
      <%end%>
    </div>
    <div class="pull-right">
    <button type="submit" class="btn btn-primary btn-small">
      Confirm & Complete &nbsp; <i class="fa fa-arrow-circle-right"></i>
    </button>
  </div>
</div>
<script>Spree.disableSaveOnClick();</script>
</div>