<%= form_for(@admin_category, :html => { :multipart => true })  do |f| %>
  <% if @admin_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_category.errors.count, "error") %> prohibited this admin_category from being saved:</h2>

      <ul>
      <% @admin_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label class="control-label">Title</label>
    <%= f.text_field :title, class: 'form-control', maxlength: 50 %>
  </div>

  <div data-hook="file" class="form-group">
    <label class="control-label">Image</label>
    <label class="control-label" style="color:#ff0000">(Minimum Resolution required (Width x Height):: 450x360)</label>
    <%= f.file_field :attachment %>
  </div>

  <div class="form-group">
    <label class="control-label">Target Path:</label>
    <%= f.select :target_url, options_for_select(@target_paths) %>
  </div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
