<!-- Modal Login start -->
<div class="modal signUpContent fade" id="ModalLogin" tabindex="-1" role="dialog">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
          <h3 class="modal-title-site text-center"> Login to LSHOP </h3>
      </div>
      <div class="modal-body">
        <%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path do |f| %>
          <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
          <fieldset id="password-credentials">
            <div class="form-group">
              <%= f.email_field :email, :class => 'form-control', :tabindex => 1, :placeholder => Spree.t(:email) %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, :class => 'form-control', :tabindex => 2, :placeholder => Spree.t(:password) %>
            </div>
            <div class="checkbox" style="padding-left:20px">
              <label>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, Spree.t(:remember_me) %>
              </label>
            </div>
            <div class="form-group">
              <%= f.submit Spree.t(:login), :class => 'btn btn-lg btn-success btn-block', :tabindex => 3 %>
            </div>
          </fieldset>
        <% end %>
        <!--userForm-->
      </div>

      <div class="modal-footer">
          <p class="text-center"> Not here before? <strong>
          <a data-toggle="modal" data-dismiss="modal" href="#ModalSignup"> Sign Up. </a>
          <br><a data-toggle="modal" data-dismiss="modal" href="#ModalRecover"> Lost your password? </a></strong></p>
      </div>
    </div>  <!-- /.modal-content -->
  </div>  <!-- /.modal-dialog -->
</div>  <!-- /.Modal Login -->








<!-- Modal Recover Password start -->
<div class="modal signUpContent fade" id="ModalRecover" tabindex="-1" role="dialog">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
          <h3 class="modal-title-site text-center"> Recover Password </h3>
      </div>
      <div class="modal-body">
        <%= form_for Spree::User.new, :as => :spree_user, :url => spree.reset_password_path do |f| %>
        <p>
          <%= f.label :email, Spree.t(:email) %><br />
          <%= f.email_field :email, :class => "form-control" %>
        </p>
        <p>
          <%= f.submit Spree.t(:reset_password), :class => 'btn btn-lg btn-success btn-block' %>
        </p>
      <% end %>
        <!--userForm-->
      </div>

      <div class="modal-footer">
        <p class="text-center"> Not here before?
          <a data-toggle="modal" data-dismiss="modal" href="#ModalSignup"><b>Sign Up.</b></a>
          <br>
          Already member?<a data-toggle="modal" data-dismiss="modal" href="#ModalLogin"> <b>Sign in</b></a>
        </p>
      </div>
    </div>  <!-- /.modal-content -->
  </div>  <!-- /.modal-dialog -->
</div>  <!-- /.Modal Recover Password -->










<!-- Modal Signup start -->
<div class="modal signUpContent fade" id="ModalSignup" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
        <h3 class="modal-title-site text-center"> REGISTER </h3>
      </div>
      <div class="modal-body">
        <div class="control-group">
          <a class="fb_button btn  btn-block btn-lg " href="#"> SIGNUP WITH FACEBOOK </a>
        </div>
        <br>
        <div class="control-group" style="background: #e15242">
          <a class="gp_button btn  btn-block btn-lg " href="#"> SIGNUP WITH google+ </a>
        </div>
        <h5 style="padding:10px 0 10px 0;" class="text-center"> OR </h5>

        <%# @body_id = 'signup' %>
        <%= form_for Spree::User.new, :as => :spree_user, :url => spree.registration_path do |f| %>
          <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
          <div data-hook="signup_inside_form">
            <%#= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
            <fieldset id="password-credentials">
              <div class="form-group">
                <%= f.email_field :email, :class => 'form-control', :placeholder => Spree.t(:email) %>
              </div>
              <hr />
              <div class="form-group">
                <%= f.password_field :password, :class => 'form-control', :placeholder => Spree.t(:password) %>
              </div> 
              <div class="form-group">
                <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => Spree.t(:confirm_password) %>
              </div> 
            </fieldset>
            <div data-hook="signup_below_password_fields"></div>

            <p><%= f.submit Spree.t(:create), :class => 'btn btn-lg btn-success btn-block' %></p>
          </div>
        <% end %>
        <!--userForm-->
      </div>
      <div class="modal-footer">
        <p class="text-center"> Already member? 
          <a data-toggle="modal" data-dismiss="modal" href="#ModalLogin"> <b>Sign in</b></a>
        </p>
      </div>
    </div>    <!-- /.modal-content -->
  </div>   <!-- /.modal-dialog -->
</div>  <!-- /.ModalSignup End -->




<!-- Fixed navbar start -->
<div class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation">
  <!-- navbar-top start -->
  <div class="navbar-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
          <div class="pull-left ">
            <ul class="userMenu ">
              <li>
                <a href="#"> <span class="hidden-xs">HELP</span>
                  <i class="glyphicon glyphicon-info-sign hide visible-xs "></i>
                </a>
              </li>
              <li class="phone-number">
                <a href="callto:+12025550151">
                  <span><i class="glyphicon glyphicon-phone-alt "></i></span>
                  <span class="hidden-xs" style="margin-left:5px"> +1-234-567-8901 </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
          <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
            <div class="pull-right">
              <ul class="userMenu">
                <li>
                  <%= link_to "My Account", account_path, :class => "hidden-xs"%>
                  <i class="glyphicon glyphicon-log-in hide visible-xs "></i>
                </li>
                <li>
                  <% if (!spree_user_signed_in?) %>
                    <a href="#" data-toggle="modal" data-target="#ModalLogin">
                      <span class="hidden-xs">Sign In</span>
                      <i class="glyphicon glyphicon-log-in hide visible-xs "></i>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#ModalSignup"> Create Account</a>
                    <% else %>
                      <%= link_to "Sign out", logout_path, :class => "hidden-xs"%>
                      <i class="glyphicon glyphicon-log-in hide visible-xs "></i>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>  <!--/.navbar-top-->

  <div class="container">
    <div class="navbar-header">
      <%=link_to( image_tag('/assets/logo.png'), root_url, :class=>"navbar-brand") %>
      <!-- this part for mobile -->
      <div class="search-box pull-right hidden-lg hidden-md hidden-sm">
        <div class="input-group">
          <button class="btn btn-nobg getFullSearch" type="button"><i class="fa fa-search"></i></button>
        </div>
        <!-- /input-group -->
      </div>
    </div>
    <!-- nav-collapse start -->
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
          <% @taxonomies.each do |taxonomy| %>
            <% cache [I18n.locale, taxonomy, max_level, @taxon] do %>
              <li class="dropdown megamenu-fullwidth"><a data-toggle="dropdown" class="dropdown-toggle" >
                <%#= Spree.t(:taxonomy, :taxonomy => taxonomy.name) %>
                <strong><%= taxonomy.name %></strong></a>
                <ul class="dropdown-menu">
                  <li class="megamenu-content">
                  <!-- megamenu-content -->
                    <% return '' if max_level < 1 || taxonomy.root.leaf? %>
                    <% taxons = taxonomy.root.children.map do |taxon| %>
                      <ul class="col-lg-2  col-sm-2 col-md-2  unstyled">
                        <h3><strong><%= link_to(taxon.name, seo_url(taxon)) %></strong></h3>
                        <% taxon.children.map do |child| %>
                          <li>
                            <strong><h4><%= link_to(child.name, seo_url(child)) %></strong></h4>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                    <% safe_join(taxons, "\n") %>
                  </li>
                </ul>
              </li>
          <% end %>
        <% end %>
      </ul>
      <!--- this part will be hidden for mobile version -->
      <div class="nav navbar-nav navbar-right hidden-xs">
        <div class="dropdown  cartMenu ">
          <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-shopping-cart"> </i> Cart($210)<b class="caret"> </b> </a> -->
          <ul class="nav navbar-nav navbar-right" data-hook>
            <li id="link-to-cart" data-hook>
              <noscript>
                <%= link_to Spree.t(:cart), '/cart' %>
              </noscript>
              &nbsp;
            </li>
            <script>Spree.fetch_cart()</script>
          </ul>
          <div class="dropdown-menu col-lg-4 col-xs-12 col-md-4 ">
            <div class="w100 miniCartTable scroll-pane">
              <table>
                <tbody>
                  <% if @order.blank? %>
                  <tr class="miniCartProduct">
                    <td><%= Spree.t(:your_cart_is_empty) %></td>
                  </tr>
                  <% else %>
                    <%= form_for @order, url: update_cart_path, html: { id: 'update-cart' } do |order_form| %>
                      <%= render partial: 'spree/shared/line_item', collection: order_form.object.line_items, locals: { order_form: order_form } %>
                      <tr class="miniCartProduct">
                        <td></td>
                        <td colspan="2">
                        <h4 id="total-price">
                          <strong>Total</strong>
                        </h4></td>
                        <td class="price"><%= order_form.object.display_item_total %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
            <!--/.miniCartTable-->
            <div class="miniCartFooter text-right">
                <!-- <h3 class="text-right subtotal"> Subtotal: $210 </h3> -->
                <%= link_to "VIEW CART", '/cart', :class => "btn btn-sm btn-danger"%>
                <%= link_to "CHECKOUT", '/checkout/address', :class => "btn btn-sm btn-primary"%>
            </div>
            <!--/.miniCartFooter-->
          </div>
          <!--/.dropdown-menu-->
        </div>
        <!--/.cartMenu-->

        <div class="search-box">
          <div class="input-group">
            <button class="btn btn-nobg getFullSearch" type="button"><i class="fa fa-search"> </i></button>
          </div> 
          <!-- /input-group -->
        </div>
        <!--/.search-box -->
      </div>
      <!--/.navbar-nav hidden-xs-->
    </div>
    <!--/. navbar collapse -->
  </div>
  <!--/.container -->

  <div class="search-full text-right">
    <a class="pull-right search-close"> <i class=" fa fa-times-circle"> </i> </a>
      <div class="searchInputBox pull-right">
          <input type="search" data-searchurl="search?=" name="q" placeholder="start typing and hit enter to search" class="search-input">
          <button class="btn-nobg search-btn" type="submit"><i class="fa fa-search"> </i></button>
      </div>
  </div>
  <!--/.search-full-->
</div>
<!-- /.Fixed navbar  -->

<!-- Le javascript
================================================== -->

<!-- Placed at the end of the document so the pages load faster -->
<script>
    // this script required for subscribe modal
    $(window).load(function () {
        // full load
        $('#modalAds').modal('show');
        $('#modalAds').removeClass('hide');
    });

</script>

<script>
    paceOptions = {
        elements: true
    };
</script>
